# npm
node_modules
*.log
*.gz

# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# Coveralls
coverage

# Benchmarking
benchmarks/graphs

*.js
.vscode
/api